#likes{

  .user-wrap{
    position: relative;
    height: 90vh;
  }

  .no-likes {
    position: absolute;
    background-image: url(/images/registration_bg.jpg);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    i{
      position: relative;
      left: -3px;
      font-size: 28vw;
      text-align: center;
      color: white;
    }
    h3{
      text-align: center;
    }
    p{
      line-height: 1.3;
      font-weight: 100;
      letter-spacing: .1em;
      font-size: 2.2vh;
      text-align: center;
    }
    >div{
      width: 80vw;
    }
  }

  .filter{
    height: 10vh;
    .button-group{
      @include flexbox;
      width: 94vw;
      height: 8vh;
      margin: 1vh 3vw;
      button{
        border: 1px solid $primary-color;
        color: $primary-color;
        @include flex-grow(1);
        font-size: 2vh;
        font-weight: 100;
        letter-spacing: .2em;
        &._active{
          color: white;
          background-color: $primary-color;
        }
        &:nth-child(1), &:nth-child(2){
          border-right: 0;
        }
        &:nth-child(1){
          border-radius: 50px 0 0 50px;
        }
        &:nth-child(3){
          border-radius: 0 50px 50px 0;
        }
      }
    }
  }

}