#login{

  background-image: url(/images/login_bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  box-sizing: border-box;

  .login-cont{

    position: absolute;
    width: 100%;
    height: 48vh;
    left: 0;
    bottom: 10vh;

    &._registration-opened{

      #login-button{
        @include transform(scaleY(0));
        opacity: 0;
        visibility: hidden;
      }

      #registration-form{
        visibility: visible;
        input{
          @include transform(scaleY(1));
          opacity: 1;
          visibility: visible;
        }
        .close{
          @include translate(0, 0);
          opacity: 1;
          visibility: visible;
        }
      }

    }

    &._login-opened{

      #reg-button{
        @include transform(scaleY(0));
        opacity: 0;
        visibility: hidden;
      }

      #login-button{
        @include translate(0, 12vh);
      }

      #login-form{
        visibility: visible;
        input{
          @include transform(scaleY(1));
          opacity: 1;
          visibility: visible;
        }
        .close{
          @include translate(0, 0);
          opacity: 1;
          visibility: visible;
        }
      }

    }
    
    >button{

      position: absolute;
      width: 100vw;
      height: 10vh;
      margin: 0;
      left: 0;
      background: rgba($primary-color, .7);
      color: white;
      text-align: center;
      line-height: 8vh;
      font-size: 2.4vh;
      font-weight: 100;
      letter-spacing: 1em;
      box-shadow: 0 0 8px rgba(0, 0, 0, .2);
      @include transition(all .4s ease);
      @include transform-origin(bottom);
      @include transform(scaleY(1));

      &#reg-button{
        bottom: 0;
        background: rgba($secondary-color, .7);
      }

      &#login-button{
        bottom: 12vh;
      }

    }

  }

  form{

    position: absolute;
    visibility: hidden;

    .close{
      position: absolute;
      color: $secondary-color;
      top: -10vh;
      font-size: 4vh;
      right: 5vw;
      opacity: 0;
      visibility: hidden;
      @include translate(100%, 0);
      @include transition(all .4s ease);
    }

    &#login-form{
      top: 14vh;
    }

    &#registration-form{
      top: 2vh;
      button{
        color: white;
      }
    }

    input{

      position: relative;
      width: 100%;
      height: 10vh;
      margin-bottom: 2vh;
      border-radius: 0;
      border: 0;
      box-sizing: border-box;
      padding: 0 4vh;
      left: 0;
      line-height: 8vh;
      font-size: 3.5vh;
      font-weight: 100;
      letter-spacing: .2em;
      box-shadow: 0 0 8px rgba(0, 0, 0, .2);
      @include transition(all .4s ease);
      @include transform-origin(center);
      @include transform(scaleY(0));
      opacity: 0;
      visibility: hidden;

      &._error{
        box-shadow: 0 0 20px rgba(red, .7);
      }

      &._success{
        box-shadow: 0 0 20px rgba(lawngreen, .7);
      }

    }

  }
  
}