#main-container{

  @include transition(all .6s ease);

  //@include translate(0, 23vh);

  &._menu-opened{
    @include translate(70vw, 0);
    #main{
      //-webkit-filter: blur(20px);
      //.ovrl{
      //  opacity: 1;
      //  visibility: visible;
      //}
      button.close{
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &._filter-opened{
    @include translate(-70vw, 0);
  }

  #left-menu{
    position: absolute;
    top: 0;
    left: -70vw;
    z-index: 2;
  }

  #right-filter{
    position: absolute;
    top: 0;
    right: -70vw;
    z-index: 2;
  }
  
  #message-form{
    position: absolute;
    top: -23vh;
  }

  #main{
    
    z-index: 3;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    
    //.ovrl{
    //  position: absolute;
    //  width: 100%;
    //  height: 100%;
    //  top: 0;
    //  left: 0;
    //  background: rgba(0, 0, 0, .4);
    //  opacity: 0;
    //  visibility: hidden;
    //  @include transition(all .4s ease);
    //}
    
    .open-menu{
      position: absolute;
      top: 3vh;
      margin: 0;
      left: 3vh;
      width: 7vh;
      height: 7vh;
      background-image: url(/images/logo_light.png);
      -webkit-background-size: contain;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      backface-visibility: hidden;
    }

    .open-filter{
      position: absolute;
      top: 2vh;
      margin: 0;
      right: 1vh;
      width: 10vh;
      height: 10vh;
      text-align: center;
      line-height: 9vh;
      font-size: 5.5vh;
      color: white;
      backface-visibility: hidden;
    }
    
  }

}