#messages{

  background-image: url(/images/registration_bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;

  #feed{

    padding: 2vw;
    overflow-y: scroll;

    .message{

      @include flexbox;

      .avatar{
        width: 25vw;
        height: 25vw;
        border-radius: 50%;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center;
      }

      >div:nth-child(2){
        margin-left: 2vw;
      }

    }

  }
  
}