.photo-edit{

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  left: 0;
  overflow: hidden;

  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .photos-cont{

    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 320vw;
    @include transition(all .4s ease);
    will-change: transform;

    li{

      position: relative;
      float: left;
      width: 100vw;
      height: 100%;
      background-position: center;
      -webkit-background-size: cover;
      background-size: cover;

      .top-controls{

        position: absolute;
        top: 0;
        right: 0;
        padding-right: 1.1vh;

        button{

          position: relative;
          width: 14vh;
          height: 14vh;
          margin: 2.2vh 1.1vh;
          background-color: rgba($primary-color, .8);
          border-radius: 50%;

          &.remove{

            >div{
              position: absolute;
              top: 50%;
              left: 50%;
              @include transform-origin(left);
              background: white;
              width: 10vh;
              height: 1px;
              &:nth-child(1){
                @include transform(rotate(-45deg) translate(-50%, -50%));
              }
              &:nth-child(2){
                @include transform(rotate(45deg) translate(-50%, -50%));
              }
            }

          }
          
        }

      }

    }

  }

  .preview{

    position: absolute;
    bottom: 0;
    width: 100%;

    li{

      width: 33.3vw;
      height: 33.3vw;
      float: left;
      opacity: .5;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
      @include transition(opacity .4s ease);

      &._active{
        opacity: .8;
        box-shadow: 0 0 10px rgba(0, 0, 0, .5);
      }

      &.add{

        position: relative;
        background: rgba($accent-color, .9);
        opacity: .8;

        >div{

          position: absolute;
          top: 50%;
          left: 50%;
          @include translate(-50%, -50%);
          background: rgba(255, 255, 255, 1);


          &:nth-child(1){
            width: 20vw;
            height: 1px;
          }

          &:nth-child(2){
            width: 1px;
            height: 20vw;
          }

        }

      }
    }

  }

  .no-pics{

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    h3{

      position: absolute;
      width: 100vw;
      padding: 0 10vw;
      margin: 0;
      box-sizing: border-box;
      top: 50%;
      left: 0;
      text-align: center;
      @include translate(0, -80%);

    }

  }

}