.user-cont{

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  left: 0;
  overflow: hidden;

  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .photos-cont{

    position: absolute;
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    @include transition(all .8s ease);
    @include transform(translateZ(0));
    overflow: hidden;
    -webkit-backface-visibility: hidden;

    .bg{
      position: absolute;
      width: 100%;
      height: 25vh;
      left: 0;
      top: 0;
      z-index: 1;
      @include background-gradient-top(rgba(0, 0, 0, 0), rgba(0, 0, 0, .6));
    }

    .carousel{

      position: relative;
      width: 310vw;
      @include transition(all .3s ease);
      will-change: transform, -webkit-transform;
      @include transform(translateZ(0));
      -webkit-backface-visibility: hidden;

      &._no-transition{
        -webkit-transition: all 0s !important;
        -moz-transition: all 0s !important;
        -ms-transition: all 0s !important;
        -o-transition: all 0s !important;
        transition: all 0s !important;
        -webkit-transition-delay: 0s !important;
        -moz-transition-delay: 0s !important;
        -ms-transition-delay: 0s !important;
        -o-transition-delay: 0s !important;
        transition-delay: 0s !important;
      }

      .item{
        position: relative;
        width: 102vw;
        height: 100vh;
        float: left;
        background-position: center;
        -webkit-background-size: cover;
        background-size: cover;
        @include transform(translateZ(0));
        &:nth-child(1){
          margin-left: -1vw;
        }
      }

    }

  }

  .info{
    position: absolute;
    bottom: 1vh;
    box-sizing: border-box;
    padding: 1vh 2vh;
    width: 100%;
    font-size: 4vh;
    color: white;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);

    .bg{
      position: absolute;
      width: 100%;
      height: 300%;
      left: 0;
      bottom: 0;
      z-index: 1;
      @include background-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .6));
    }

    .used-for{
      position: relative;
      float: left;
      z-index: 2;
      color: $primary-color;
      i{
        width: 4.5vh;
        height: 4.5vh;
        margin-right: 4vh;
      }
    }
    .distance{
      position: relative;
      float: right;
      z-index: 2;
      font-weight: 400;
      color: white;
      font-size: 5vh;
      letter-spacing: .1em;
    }
  }

  .stripe{
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1vh;
    background: rgba(0, 0, 0, .2);
    div{
      position: absolute;
      left: 0;
      width: 33.3vw;
      height: 100%;
      background: rgba(255, 255, 255, 1);
      @include transition(all .3s ease);
      will-change: transform, -webkit-transform;
      &._no-transition{
        -webkit-transition: all 0s !important;
        -moz-transition: all 0s !important;
        -ms-transition: all 0s !important;
        -o-transition: all 0s !important;
        transition: all 0s !important;
        -webkit-transition-delay: 0s !important;
        -moz-transition-delay: 0s !important;
        -ms-transition-delay: 0s !important;
        -o-transition-delay: 0s !important;
        transition-delay: 0s !important;
      }
    }
  }

  .controls-cont{

    .controls-ovrl{

      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, .5);
      opacity: 0;
      visibility: hidden;
      @include transition(all .4s ease);

    }

    .user-controls{

      position: absolute;
      width: 70vw;
      height: 70vw;
      top: 20vw;
      left: 40vw;
      opacity: 0;
      visibility: hidden;
      @include transition(opacity .4s ease);

      .glow{
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
        width: 2px;
        height: 2px;
        background-color: transparent;
        border-radius: 50px;
        box-shadow: 0 0 50px white;
      }

      button{
        position: absolute;
        display: block;
        box-sizing: border-box;
        font-size: 10vw;
        width: 10vw;
        height: 10vw;
        padding: 3vw;
        color: white;
        padding: 0;
        @include transition(all .2s cubic-bezier(0.655, 0.335, 0.420, 1.555));
        opacity: 0;

        &.like-user {
          top: 50%;
          left: 50%;
          @include transform(translate3d(-50%, -50%, 0) scale(.1));
        }
        &.move-right {
          top: 50%;
          right: 50%;
          @include transform(translate(-50%, -50%) scale(.1));
        }
        &.write-message {
          bottom: 50%;
          left: 50%;
          @include transform(translate3d(-50%, -50%, 0) scale(.1));
        }
        &.move-left {
          top: 50%;
          left: 50%;
          @include transform(translate(-50%, -50%) scale(.1));
        }

        i{
          width: 7vw;
          height: 7vw;
          background-position: center center;
        }

      }

    }

    &._visible{

      .controls-ovrl{
        opacity: 1;
        visibility: visible;
      }

      .user-controls{

        opacity: 1;
        visibility: visible;

        &._no-transition{

          button{
            -webkit-transition: all 0s !important;
            -moz-transition: all 0s !important;
            -ms-transition: all 0s !important;
            -o-transition: all 0s !important;
            transition: all 0s !important;
            -webkit-transition-delay: 0s !important;
            -moz-transition-delay: 0s !important;
            -ms-transition-delay: 0s !important;
            -o-transition-delay: 0s !important;
            transition-delay: 0s !important;
          }
        }

        button {

          position: absolute;
          font-size: 10vw;
          color: white;
          opacity: 1;
          @include transition(all .4s cubic-bezier(0.565, -0.550, 0.300, 0.615));

          &.like-user {
            top: 0;
            left: 50%;
            @include transform(translate3d(-50%, 0, 0) scale(1));
          }
          &.move-right {
            top: 50%;
            right: 0;
            @include transform(translate(0, -50%) scale(1));
          }
          &.write-message {
            bottom: 0;
            left: 50%;
            @include transform(translate3d(-50%, 0, 0) scale(1));
          }
          &.move-left {
            top: 50%;
            left: 0;
            @include transform(translate(0, -50%) scale(1));
          }
        }

      }
    }

  }

}