@keyframes scaling {

  from, to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50%{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }

}

.scaling {

  -webkit-animation-name: scaling;
  animation-name: scaling;
  -webkit-animation-duration: 70s;
  animation-duration: 70s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
@-webkit-keyframes moveToLeft {
  from { opacity: 1; }
  to { -webkit-transform: translateX(-100%);  -webkit-opacity: .2;}
}
@keyframes moveToLeft {
  from { opacity: 1; }
  to { -webkit-transform: translateX(-100%); transform: translateX(-100%);  opacity: .2;}
}

@-webkit-keyframes moveFromLeft {
  from { -webkit-transform: translateX(-100%);}
}
@keyframes moveFromLeft {
  from { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}


@-webkit-keyframes moveToRight {
  from { }
  to { -webkit-transform: translateX(100%); -webkit-opacity: .2;}
}
@keyframes moveToRight {
  from { }
  to { -webkit-transform: translateX(100%); transform: translateX(100%); opacity: .2;}
}

@-webkit-keyframes moveFromRight {
  from { -webkit-transform: translateX(100%); }
}
@keyframes moveFromRight {
  from { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

