*{
  outline: none;
}

body{
  background-image: url(/images/registration_bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6, p, li, ol, div {
  color: $gray;
  font-family: Helvetica Neue;
  font-weight: 200;
}

h2{
  font-size: 5.5vh;
  margin: 5vh 0 4vh 0;
  font-weight: 100;
  letter-spacing: .3em;
}

h3{
  font-size: 4vh;
  margin: 4vh 0 3vh 0;
  font-weight: 100;
  letter-spacing: .3em;
}

p{
  font-size: 2.2vh;
  line-height: 1.4;
  text-align: justify;
}

a{
  text-decoration: none;
  color: inherit;
}

button{
  border: 0;
  background-color: transparent;
  margin: 1.2vh 0;
  font-size: 2.5vh;
  &.rounded{
    border: 1px solid;
    border-radius: 100px;
    padding: 2.1vh 12vw;
  }
}

input[type="text"], input[type="password"], input[type="email"], input[type="date"], textarea {
  background: rgba(255, 255, 255, .5);
  bottom: 0;
  border-radius: 3px;
  border: 1px solid $gray-light;
  color: $gray;
  box-shadow: inset 0 0 3px rgba(255, 255, 255, .4);
  font-weight: 100;
  letter-spacing: .15em;
  line-height: 1.35;
}