.letter-spacing{
  letter-spacing: .7em;
}

.padding-x{
  padding-left: $base-padding;
  padding-right: $base-padding;
}

.padding-h{
  padding-top: $base-padding;
  padding-bottom: $base-padding;
}

.primary{
  color: $primary-color;
}

.secondary{
  color: $secondary-color;
}

.accent{
  color: $accent-color;
}