// Grays

$gray-lighter: #e6e6e6;
$gray-light: #cac6d0;
$gray: #716f75;
$gray-dark: #58565b;
$gray-darker: #3b393d;

$primary-color: #e058cb;
$secondary-color: #775edd;
$accent-color: #5fed9e;

// Hues



// Convention colors

$sex-color: #d99aed;
$relationships-color: #ed8791;
$watchup-color: #aab1ed;
$communication-color: #8bed96;


// Sizes

$base-padding: 4.5vh;